<%= form_with(model: recipe, local: true) do |form| %>
  <div class="field">
   <div class="container mt-1 col-md-6">
        <%= form.label :recipe_category %>
        <%= form.select :recipe_category_id, RecipeCategory.where(user_id: current_user.id).collect {|r| [r.name, r.id]},  {include_blank: false},class:"form-control"%>
   </div>

    <div class="container mt-1 col-md-6">
        <%= form.label :name %>
        <%= form.text_field :name , class:"form-control"%>
    </div>

    <div class="container mt-1 col-md-6">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control"%>
    </div>
  </div>


<h1 class="text-center">Ingredients</h1>

  <%= render 'miniform', form: form, name_disabled: false %>
<div class="actions text-center">
    <%= form.submit 'Create',class:"btn btn-success btn-lg btn-block" %>
  </div>
<% end %>
