<%= form_with(model: recipe, local: true) do |form| %>
  <div class="field">
   <div class="container mt-1">
        <%= form.label :recipe_category %>
        <%= form.select :recipe_category_id, RecipeCategory.where(user_id: current_user.id).collect {|r| [r.name, r.id]},  {include_blank: false}%>
   </div>

    <div class="container mt-1">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="container mt-1">
        <%= form.label :description %>
        <%= form.text_area :description%>
    </div>
  </div>


<h1>Ingredients</h1>
<div data-controller="nested-form">
  <template data-nested-form-target='template'>
    <%= form.fields_for :ingredients, Ingredient.new, child_index: 'TEMPLATE_RECORD' do |ingredient| %>
      <%= render 'ingredients_fields', form: ingredient%>
    <% end %>
  </template>
  <%= form.fields_for :ingredients do |ingredient| %>
    <%= render 'ingredients_fields', form: ingredient %>
  <% end %>
  <div data-nested-form-target="add_item">
    <%= link_to "Add Ingredient", "#", data: { action: "nested-form#add_association" } %>
  </div>
</div>

<div class="actions">
    <%= form.submit 'Create' %>
  </div>
<% end %>
