<ul>
  <% @recipe_categories.each do |category| %>
    <li>
      <%= category.name %>
      <% recipes = Recipe.where(recipe_category_id: category.id)%>
      <table class="table">
        <thead>
          <tr>
            <th> Recipe Name</th>
            <th> Cost per Recipe </th>
            <th> Serving Size </th>
            <th> Action </th>
          </tr>
        </thead>
        <% recipes.each do |recipe| %>
         <tbody>
            <tr>
              <td><%= recipe.name%></td>
              <td> <%=number_to_currency recipe.price, unit: "PhP", format: "%u %n" %> </td>
              <td> <%= "Good for #{recipe.servings} person#{recipe.servings > 1 ? 's' : ''}"%> </td>
              <td>
              <%= link_to "Edit", recipe_path(recipe)%>
              <%= link_to "Create Dish", new_dish_path(recipe)%>
              </td>
              <tr>
         </tbody>
            <% end %>
          </table>
        </li>
      <% end %>
    </ul>
    <%= link_to new_recipe_path do %>
      <button type="button" class="btn btn-info mt-1">Create new Recipe</button>
    <% end %>
