<div class="main-body bg-light mt-3 p-3">
  <%=  render "shared/nav" %>
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item">Recipes</li>
      <li class="breadcrumb-item">Show</li>
    </ol>
  </nav>
  <%= form_with model: @recipe, url: recipe_path(@recipe), method: :patch do |form| %>
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row" style="background-color:#e9ecefde">
          <div class="col mb-3">
            <div class="card-mau">
              <div class="card-body-mau">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 420px;">
                        <div class="d-flex justify-content-center align-items-center">
                          <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;"> <%= image_tag("cake.jpg", :alt => "rss feed" , class:"card-img-top") %></span>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <div class="text-muted"><small></small></div>
                        <div class="mt-2">
                          <button class="btn btn-secondary" type="button">
                            <span>Change Photo</span>
                            <i class="fa fa-fw fa-camera"></i>
                          </button>
                        </div>
                      </div>
                      <div class="text-center text-sm-right">
                        <div class="text-muted"><small>Joined <%=current_user.created_at%></small></div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav nav-tabs">
                    <h3>
                      <li class="nav-item"><a href="" class="active nav-link"><b>Recipe</b></a></li>
                    </ul>
                  </h3>
                </ul>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <%= form.label :recipe_category %>
                              <%= form.select :recipe_category_id, RecipeCategory.where(user_id: current_user.id).collect {|r| [r.name, r.id]},  {include_blank: false}, id: "recipe_category", class:"form-control"%>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <%= form.label :name %>
                              <%= form.text_field :name ,class:"form-control" %> <br/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <%= form.label :description %>
                              <%= form.text_area :description ,class:"form-control",rows:"5"%> <br/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-start">
                    <%= form.submit 'Update Recipe',class:"btn btn-primary btn-lg"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 mb-3">
      <div class="card-mau mb-12">
        <div class="card-body">
          <div class="px-xl-3">
            <ul class="nav nav-tabs">
              <li class="nav-item"><a href="" class="active nav-link"><b>Ingredients</b></a></li>
            </ul>
            <%= form_with model: @recipe, url: recipe_path(@recipe), method: :patch do |form| %>
              <div class="fields">
                <div data-controller="markup">
                  <%= render 'miniform', form: form, ingredients: :ingredients, name_disabled: true%>
                  <div class="actions text-center">
                  </div>
                  <hr>
                  <div class="text-center mt-1">
                    <button class="btn btn-primary btn-lg" data-action="click->markup#query">
                      How much can I sell this dish for?
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </button>
                    <div data-markup-target="container" >
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
<%#= link_to "Remove", recipe_remove_ingredient_path(ing_id: ingredient.id), method: :delete, data: {confirm: "Are you sure?",}%>
</div>
