<div class="main-body bg-light mt-3 p-3">
  <%=  render "shared/nav" %>
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item">Recipes</li>
      <li class="breadcrumb-item">View</li>
    </ol>
  </nav>
  <%= form_with model: @recipe, url: recipe_path(@recipe), method: :patch do |form| %>
    <div class="field">
      <div class="container mt-1 col-md-6">
        <%= form.label :name %>
        <%= form.text_field :name ,class:"form-control", disabled: true %> <br/>
      </div>
      <div class="container mt-1 col-md-6">
        <%= form.label :description %>
        <%= form.text_area :description ,class:"form-control", disabled: true %> <br/>
      </div>
      <div class="container mt-1 col-md-6">
       <table class="table">
       <tr>
       <th>Ingredient</th>
       <th>Brand</th>
       <th>Measurement</th>
       <th>Price</th>
       </tr>
       <% total  = 0%>
          <% @recipe.ingredients.each do |ingredient|%>
          <% ing_attr = IngredientsRecipe.find_entry(@recipe, ingredient)%>
            <tr>
              <td><%= ingredient.name%></td>
              <td> <%= ingredient.brand%> </td>
              <td> <%= ing_attr.measurement_value%> <%= ing_attr.measurement%> </td>
              <td> <%= number_to_currency ing_attr.price, unit: "Php" %> </td>
              <%  total += ing_attr.price if ing_attr.price%>
            </tr>
          <% end %>
          <tr class="table-info">
          <td>Total Price:</td>
          <td></td>
          <td></td>
          <td><%=number_to_currency total, unit: "Php" %></td>
          </tr>
       </table>
      </div>
    <% end %>
  </div>
